<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DTO.Properties.Settings.ql_quanaoConnectionString"
            connectionString="Data Source=THANHTRIEUMIKE;Initial Catalog=ql_quanao;Integrated Security=True;Trust Server Certificate=True;User ID=sa;Password=123;"
            providerName="System.Data.SqlClient" />
        <add name="DTO.Properties.Settings.ql_quanaoConnectionString1"
            connectionString="Data Source=THANHTRIEUMIKE;Initial Catalog=ql_quanao;Integrated Security=True;Trust Server Certificate=True;User ID=sa;Password=123;"
            providerName="System.Data.SqlClient" />
        <add name="DTO.Properties.Settings.ql_quanaoConnectionString2"
            connectionString="Data Source=THANHTRIEUMIKE;Initial Catalog=ql_quanao;Integrated Security=True;Trust Server Certificate=True;User ID=sa;Password=123;"
            providerName="System.Data.SqlClient" />
        <add name="DTO.Properties.Settings.ql_quanaoConnectionString3"
            connectionString="Data Source=THANHTRIEUMIKE;Initial Catalog=ql_quanao;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>